# =========================
# Maven / Build Outputs
# =========================
target/
backend/target/

# =========================
# IDE Files
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# OS Files
# =========================
.DS_Store

# =========================
# Java Compiled Files
# =========================
*.class