GITHUB_REPO=systems-jackal/akibahub
DOMAIN_NAME=akibahub.unitybridge.dev
APP_BASE_URL=https://akibahub.unitybridge.dev
FRONTEND_URL=https://akibahub.unitybridge.dev
JWT_SECRET=${JWT_SECRET}
INTERNAL_SERVICE_KEY=${INTERNAL_SERVICE_KEY}
GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
PAYHERO_USERNAME=${PAYHERO_USERNAME}
PAYHERO_PASSWORD=${PAYHERO_PASSWORD}
PAYHERO_CHANNEL_ID=${PAYHERO_CHANNEL_ID}
PAYHERO_CALLBACK_SECRET=${PAYHERO_CALLBACK_SECRET}
RABBITMQ_USER=akiba
RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
MARIADB_AUTH_PASSWORD=${MARIADB_AUTH_PASSWORD}
MARIADB_SAVINGS_PASSWORD=${MARIADB_SAVINGS_PASSWORD}
MARIADB_GROUPS_PASSWORD=${MARIADB_GROUPS_PASSWORD}
MARIADB_PAYMENTS_PASSWORD=${MARIADB_PAYMENTS_PASSWORD}
MARIADB_PROPOSALS_PASSWORD=${MARIADB_PROPOSALS_PASSWORD}
MARIADB_AUDIT_PASSWORD=${MARIADB_AUDIT_PASSWORD}
